#main{
	margin: 				0;
	padding: 				0;
	font-size:				16px;
	color:					white;
	font-family: 			"Gill Sans", sans-serif;
}

/*	*	*	*	*	*	*	*	*	*	*	*/
/*	*	*	*		HEADER		*	*	*	*/
/*	*	*	*	*	*	*	*	*	*	*	*/


/*	*	*	*	*	*	*	*	*	*	*	*/
/*	*	*	*	  HEADER END	*	*	*	*/
/*	*	*	*	*	*	*	*	*	*	*	*/




/*	*	*	*	*	*	*	*	*	*	*	*/
/*	*	*	*		BODY		*	*	*	*/
/*	*	*	*	*	*	*	*	*	*	*	*/


/*	*	*	*	*	*	*	*	*	*	*	*/
/*	*	*	*	  BODY END	*	*	*	*/
/*	*	*	*	*	*	*	*	*	*	*	*/